<header>
  <div class="header">
    <img class="logo" src="/imgs/Logo1.svg" alt="meal planner Logo" />
    <div>
      <h1>STICK to the Planner</h1>
      <p>
        <em>Be on top of your health this week.</em>
      </p>
      <br />
      <p><em>Create your favorite recipes for each day, </em></p>
      <p>
        <em>and check out your shopping list to plan ahead. </em>
      </p>
      <br />
      <ul>
        <li><a href="/recipes/new">Create Recipe</a></li>
        <li><a href="/shopping-list">Your Shopping List</a></li>
        <li><a href="/">Back to Home</a></li>
      </ul>
    </div>
  </div>
</header>
