<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <h2>404</h2>
    <h3>The page you requested doesn't exist</h3>
    <p>Check the address bar to make sure you're requesting a valid page</p>
    <!-- please remove the below paragraph in production-->
    <p>
      Developers: Check your routes, your links, or forms to ensure they are
      defined correctly
    </p>
    <%- include('./partials/footer') %>
  </body>
</html>
