<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <h2>Oh No! Something Went Wrong</h2>
    <img id="baby" src="/imgs/cute-baby.jpg" alt="a cute baby chef" />
    <p>Try again later</p>
    <%- include('./partials/footer') %>
  </body>
</html>
