<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <h2>Uh No! Something Went Wrong</h2>
    <img src="https://picsum.photos/id/237/300" alt="a cute lab puppy" />
    <p>Try again later or <a href="/">go back home</a></p>
    <%- include('./partials/footer') %>
  </body>
</html>
