<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <h2>Week-Day Meal Planner</h2>
    <!-- ADD LINKS HERE -->
    <a href="">View Shopping List</a>
    <section id="index">
      <div>
        Monday<br />
        <a href="">Create a Recipe</a><br />
        <p>List of Recipes:</p>
      </div>
      <div>
        Tuesday<br />
        <a href="">Create a Recipe</a><br />
        <p>List of Recipes:</p>
      </div>
      <div>
        Wednesday<br />
        <a href="./recipes/new.ejs">Create a Recipe</a><br />
        <p>List of Recipes:</p>
      </div>
      <div>
        Thursday<br />
        <a href="">Create a Recipe</a><br />
        <p>List of Recipes:</p>
      </div>
      <div>
        Friday<br />
        <a href="">Create a Recipe</a>
        <br />
        <p>List of Recipes:</p>
      </div>
    </section>
    <main class="footer"><%- include('./partials/footer') %></main>
  </body>
</html>
