* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 30vh;
  width: 30vh;
}

#index {
  display: grid;
  grid-template-columns: repeat(3, 30vmin);
  grid-template-rows: repeat(2, 40vmin);
  justify-items: center;
  margin: 20px;
}
.week-day {
  /* margin: 20px; */
  text-align: center;
  height: 30vmin;
  line-height: 1.3;
  width: 20vmin;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid rgba(121, 172, 121, 0.852);
}

#shopping-list {
  height: 30vmin;
  width: 20vmin;
  border-radius: 10px;
  border: 2px solid purple;
}

li {
  list-style-type: none;
}

section {
  display: flex;
}

.ingredients-table {
  padding: 5px 5px;
  margin: 5px 5px;
  text-align: center;
  border: 1px dotted darkgrey ;
}

td {
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
