* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

a:link,
a:visited {
  background-color: #d17562d1;
  color: rgb(255, 255, 255);
  padding: 5px 9px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: gray 0px 2px 5px;
}

a:hover,
a:active {
  background-color: #c64125;
  color: rgb(255, 255, 255);
}
.recipe-btn {
  margin: 5px;
  margin-bottom: 10px;
}

.recipe-list {
  margin-bottom: 10px;
}
.header {
  display: flex;
  flex: row;
  justify-content: center;
}

.header > div > h1 {
  margin: 20px;
  margin-top: 40px;
  text-shadow: gray 1px 1px 2px;
}

.header > div > p {
  text-align: center;
}

.header > div > ul {
  display: flex;
  flex-direction: row;
}

.header > div > ul > li {
  padding: 10px;
}

.logo {
  height: 30vh;
  width: 30vh;
}
/* index section  */
#index {
  display: grid;
  grid-template-columns: repeat(3, 30vmin);
  grid-template-rows: repeat(2, 37vmin);
  justify-items: center;
  margin: 20px;
}

.idx-content {
  position: relative;
  z-index: 1;
}

.idx-img {
  position: absolute;
  top: -50px;
  left: -35px;
}

.week-day {
  /* margin: 20px; */
  position: relative;
  text-align: center;
  height: 295px;
  line-height: 1.3;
  width: 200px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: gray 0px 5px 15px;
  /* box-shadow: gray 0px 5px 15px; */
  /* background-color: rgb(243, 243, 239);
  border: 1px dotted darkgrey; */
  /* background-image: url("../imgs/green-sticky.png");
  background-position: center top;
  background-attachment: fixed;
  background-size: auto;
  background-repeat: no-repeat; */
}

/* img {
  position: relative;
} */

#shopping-list {
  height: 32vmin;
  width: 22vmin;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px dotted darkgray;
  position: relative;
  text-align: center;
  line-height: 1.3;
  padding: 30px;
  box-shadow: gray 0px 5px 15px;
}

li {
  list-style-type: none;
}

.delete-button {
  text-align: center;
}

.ingredients-table {
  padding: 5px 5px;
  margin: 5px 5px;
  text-align: center;
  border: 1px dotted darkgrey;
}

.delete {
  background-color: red;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 35px;
  width: 100%;
  text-align: center;
  background-color: rgba(212, 212, 212, 0.99);
  padding-top: 10px;

  opacity: 0.8;
}

.float-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floating-img {
  transform: translateY(-5%);
  animation: floater 6s ease-in-out infinite;
  transition: ease 1s;
  margin-top: 20px;
  background-color: rgb(240, 234, 226);
  border-radius: 10px;
  padding: 10px;
  border: 2px solid rgb(191, 184, 171);
  box-shadow: gray 0px 5px 12px;
}
@keyframes floater {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
    transition: ease 0.8s;
  }
  100% {
    transform: translateY(0px);
  }
}
/* 
SHOW PAGE  */

#show-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#show-container > img {
  margin-top: 230px;
  margin-left: 40px;
  height: 250px;
  width: 250px;
}

#show {
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: gray 0px 5px 12px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 10px;
  width: 60vmin;
  border: 2px dotted gray;
}

#show > div {
  margin: 15px;
}
