* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
}

textarea,
select {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: gray 0px 2px 5px;
}

select {
  width: 20vmin;
  height: 3.5vmin;
  padding: 3px 8px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 15px;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid rgb(134, 134, 134);
  font-size: 15px;
  padding: 3px;
}

.create-input {
  background-color: aliceblue;
}

#create-select-label {
  margin: 20px;
}

textarea {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
  transition: height 0.4s ease-in-out;
  font-family: sans-serif;
}

textarea:focus {
  height: 200px;
}

button {
  padding: 8px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: aliceblue;
  border: none;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px #999;
}

button:hover {
  background-color: #d17562d1;
  color: white;
}

button:active {
  background-color: #c64125;
  box-shadow: 0 5px 15px #666;
  transform: translateY(4px);
}

#add-recipe-btn {
  background-color: white;
  margin-left: 220px;
}

#add-recipe-btn:hover {
  background-color: #d17562d1;
  color: white;
}

a:link,
a:visited {
  background-color: #d17562d1;
  color: rgb(255, 255, 255);
  padding: 5px 9px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: gray 0px 2px 5px;
}

a:hover,
a:active {
  background-color: #c64125;
  color: rgb(255, 255, 255);
}
.recipe-btn {
  margin: 5px;
  margin-bottom: 10px;
}

.recipe-list {
  margin-bottom: 10px;
}
.header {
  display: flex;
  flex: row;
  justify-content: center;
}

.header > div > h1 {
  margin: 20px;
  margin-top: 40px;
  text-shadow: gray 1px 1px 2px;
}

.header > div > p {
  text-align: center;
}

.header > div > ul {
  display: flex;
  flex-direction: row;
}

.header > div > ul > li {
  padding: 10px;
}

.logo {
  height: 30vh;
  width: 30vh;
}

/* index section  */
#index {
  display: grid;
  grid-template-columns: repeat(3, 30vmin);
  grid-template-rows: repeat(2, 37vmin);
  justify-items: center;
  margin: 20px;
}

.idx-content {
  position: relative;
  z-index: 1;
}

.idx-content > p {
  margin-bottom: 5px;
}

.idx-img {
  position: absolute;
  top: -50px;
  left: -35px;
}

.week-day {
  position: relative;
  text-align: center;
  height: 295px;
  line-height: 1.3;
  width: 200px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: gray 0px 5px 15px;
}

#shopping-list {
  height: 32vmin;
  width: 22vmin;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px dotted darkgray;
  position: relative;
  text-align: center;
  line-height: 1.3;
  padding: 30px;
  box-shadow: rgb(114, 113, 113) 0px 5px 15px;
  color: rgb(106, 102, 102);
}

#shopping-list > h3 {
  color: black;
}

li {
  list-style-type: none;
}

.ingredients-table {
  padding: 5px 5px;
  margin: 5px 5px;
  text-align: center;
  border: 1px dotted darkgrey;
}

#delete-btn {
  background-color: aliceblue;
  padding: 8px 10px;
  border: none;
  color: #c64125;
}

#delete-btn:hover {
  background-color: #d17562d1;
  color: white;
  border-radius: 8px;
}

#delete-btn:active {
  box-shadow: 0 5px 10px gray;
  background-color: #c64125;
  transform: translateY(2px);
}

.update-text {
  background-color: blanchedalmond;
}

.update {
  background-color: green;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 35px;
  width: 100%;
  text-align: center;
  background-color: rgba(212, 212, 212, 0.99);
  padding-top: 10px;
  opacity: 0.8;
}

.float-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floating-img {
  transform: translateY(-5%);
  animation: floater 6s ease-in-out infinite;
  transition: ease 1s;
  margin-top: 20px;
  background-color: rgb(240, 234, 226);
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid rgb(191, 184, 171);
  box-shadow: gray 0px 5px 12px;
}

@keyframes floater {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
    transition: ease 2s;
  }
  100% {
    transform: translateY(0px);
  }
}
/* 
SHOW PAGE  */

#show-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#show-container > img {
  margin-top: 230px;
  margin-left: 40px;
  height: 250px;
  width: 250px;
}

#show {
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: gray 0px 5px 12px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 10px;
  width: 60vmin;
  border: 2px dotted gray;
}

#show > div {
  margin: 15px;
}

.show-update-div {
  margin-left: 50px;
  margin-top: 50px;
}

#show-btn {
  background-color: rgb(251, 251, 251);
  margin: 10px;
}

#show-btn:hover {
  background-color: #d17562d1;
  color: whitesmoke;
}

#show-btn:active {
  background-color: #c64125;
  box-shadow: 0 5px 15px #666;
  transform: translateY(3px);
  color: white;
}

#magnify-man-img {
  margin: 20px;
  justify-content: center;
}

/* New Recipe Page */

.new-container {
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: gray 0px 5px 12px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 30px;
  padding-top: 10px;
  height: 100%;
  width: 80vmin;
  border: 2px dotted gray;
}

#new-recipe {
  padding: 20px;
}

#new-recipe > div > h2 {
  text-align: center;
}

.create-recipe-div {
  display: flex;
  flex-direction: row;
}

#form-labels {
  display: flex;
  flex-direction: column;
  padding: 3px;

  font-weight: bold;
}

.mixer-img {
  width: 15vmin;
  height: 18vmin;
  margin-left: 50px;
}

.spoons-img {
  width: 10vmin;
  height: 10vmin;
  margin-left: 65px;
}

/* Shopping List Page */

.shopping-table {
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: gray 0px 5px 12px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 30px;
  width: 80vmin;
  height: 100%;
  border: 2px dotted gray;
}

.shopping-list-div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.shopping-table > h2 {
  text-align: center;
}

.shop-img {
  position: absolute;
  margin-top: 7vmin;
  margin-left: 30vmin;
}

.shopping-tbody td {
  margin: 5px 5px;
}

th {
  padding: 5px 5px;
  font-size: 25px;
}

table.ingredients-table {
  padding: 5px 5px;
  margin: 5px 5px;
  font-size: large;
  text-align: center;
  border: 1px darkgrey;
}
