<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <h2>First, let's add our ingredients.</h2>

    <form action="/shopping-list" method="POST">
      <label
        >Ingredient:
        <input type="text" name="name" />
       
      <button type="submit">Add Ingredient</button>
    </form>
    <a href="/recipes/new">Start Creating Your Recipe</a>
    
    <ul>
            <%ingredient.forEach(i => { %>
          <li><%=i.ingredientName%></li>
        </ul>
  <%  }) %>


    <main class="footer"><%- include('../partials/footer') %></main>
  </body>
</html>
