<!-- <!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <main class="footer"><%- include('../partials/footer') %></main>
  </body>
</html> -->
