<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <h2>Add New Recipe</h2>
    <form action="/recipes" method="POST">
      <label
        >Day of the week:
        <select name="dayOfWeek">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
        </select> </label
      ><br />
      <label>Entree Name: <input type="text" name="entreeName" /> </label><br />
      <label>Cook Time: <input type="text" name="cookTime" /> </label><br />
      <!-- <% Object.entries(recipe).forEach(key => {
        for(const [value] of key) {
            if(key === 'ingredients')
            console.log(`${value},`);
        } -->
      
      <label>Ingredients: <input type="text" name="ingredients" /> </label
      <!-- >})%> -->
      <br />
      <label>
        Directions:
        <textarea name="directions" cols="50" rows="4"></textarea>
      </label>
      <button type="submit">Add Recipe</button>
    </form>
    <main class="footer"><%- include('../partials/footer') %></main>
  </body>
</html>
